:root {
    font-family: Arial, Helvetica, sans-serif
}

.nav-top {
    display: flex;
    border: solid 1px black;
    justify-content: space-between;
    background-color: rgb(255, 255, 0);
}

.search_bar {
    background-color: white;
    position: relative;
    resize: none;
    padding: 7px 10px;
    margin: 7px 10px;
}

#search_bar{
    resize: none;

}

#search_button {
    position: absolute;
}

.nav-bottom {

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    background: rgb(18,18,18);
    color:white;

}

.links {
    margin: 10px 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: solid 1px white;
}

.icons {
    margin: 10px 10px;
    padding-right: 10px;
}

.login {

    color:black;
    padding: 7px 10px;
    margin: 7px 10px;

}
.login button {
    text-transform: uppercase;
    padding-left: 10px;
    font-size: 12px;
}
